@import './lib/fonts'

*
  box-sizing: border-box
  font-family: $font-family
  font-size: 100%

ul
  display: block
  margin: 0
  padding: 0
  overflow: hidden
  list-style: none

li
  display: block
  margin: 0 0 .5em 0
  padding: 0
  height: auto
  overflow: hidden

  &:last-child
    margin-bottom: 0