@use 'reset'
@use 'lib/colors'
@use 'lib/fonts'

html,
body
  display: flex
  flex-direction: column
  width: 100vw
  min-width: 420px
  height: 100vh
  margin: 0
  padding: 0
  color: colors.color('black')
  font: normal normal 16px/1 fonts.$font-family
  background-color: colors.color('white')
  overflow: hidden

.app-wrapper
  overflow: hidden
  overflow-y: auto
