@import './reset'
@import './lib'
@import './components'

html,
body
  display: block
  width: 100vw
  min-width: 420px
  height: 100vh
  margin: 0
  padding: 0
  color: color('black')
  font: normal, normal 16px/1 Arial, sans-serif
  background-color: color('white')
  overflow: hidden
